$fm-details-title-color: rgba(17,17,17,.6)
$fm-details-input-border-color: #909090
$fm-details-item-color: #909090


.fm-whiteboard-details
  min-width: 280px
  max-width: 280px
  padding: 0 em(10)
  display: flex
  flex-direction: column
  .details
    &__title
      font-size: em(15)
      font-family: $bold
      color: $fm-details-title-color
      padding: em(10) 0
    &-wrapper
      display: flex
      flex-direction: column
      flex-grow: 1
      .file-details
      .fd
        &-image-bg
          width: 100%
          height: 180px
          border: 1px solid #333333
          background-size: cover
          background-repeat: no-repeat
          background-position: center
        &-image
          width: 100%
          height: 100%
          display: block
          background-position: center
          background-repeat: no-repeat
          background-size: contain
          cursor: pointer

.fm-whiteboard-details .details .details-wrapper .fd-name-rename
  width: 100%
  padding: em(10) 0
  &__title
    font-size: em(15)
    color: $fm-details-item-color
  textarea
    width: 100%
    margin: 0
    -webkit-appearance: none
    -moz-appearance: none
    padding: em(10)
    background: #ffffff
    border: 1px solid $fm-details-input-border-color
    outline: 0
    color: rgba(0,0,0,.87)
    border-radius: .28571429rem
    -webkit-box-shadow: 0 0 0 0 transparent inset
    box-shadow: 0 0 0 0 transparent inset
    -webkit-transition: color .1s ease,border-color .1s ease
    transition: color .1s ease,border-color .1s ease
    font-size: 1em
    line-height: 1.2857
    box-sizing: border-box
    resize: vertical
  &__input
    min-height: 100px
    max-height: 120px
    &_error
      border: 1px solid $red !important
  &__error
    margin: 0
    padding: 0
    color: $red


.fm-whiteboard-details .details .details-wrapper .fd-info-list
  min-width: 100%
  .fd-info-item
    margin: em(3) 0
    font-size: .95em
    display: flex
    align-items: center
    font-family: $semi-bold
    &__title
      color: $fm-details-item-color
    &__value
      margin-left: em(8)
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      line-height: 1rem
      &_link
        margin-left: em(8)
        padding: 0
        outline: 0
        color: $blue
        cursor: pointer
        box-shadow: none
        font-size: inherit
        font-family: inherit



.fm-whiteboard-details .details .details-wrapper .file-actions
  margin-top: auto
  padding: em(10) 0



.fm-whiteboard-details .create-folder
  &__title
    @extend .details__title
  &-input
    width: 100%
    margin: em(10) 0
    .input__textarea
      width: 100%
      margin: 0
      -webkit-appearance: none
      -moz-appearance: none
      padding: em(10)
      background: #ffffff
      border: 1px solid $fm-details-input-border-color
      outline: 0
      color: rgba(0,0,0,.87)
      border-radius: .28571429rem
      -webkit-box-shadow: 0 0 0 0 transparent inset
      box-shadow: 0 0 0 0 transparent inset
      -webkit-transition: color .1s ease,border-color .1s ease
      transition: color .1s ease,border-color .1s ease
      font-size: 1em
      line-height: 1.2857
      box-sizing: border-box
      resize: vertical
      min-height: 100px
      max-height: 120px

