$default-font: "segoe-ui", sans-serif
$accent: orange
$text: #333

$blue: #0081FF

$red: #F43F3B

$browser-context: 16

$linkHover: $blue


$ff-link-bg-hover: #cacbcd
$ff-link-text-hover: rgba(0,0,0,.8)

$ff-link-text-color: rgba(0,0,0,.6)


@function em($pixels, $context: $browser-context)
  @return #{$pixels/$context}em



