$default-font: "segoe-ui", sans-serif
$semi-bold: "segoe-ui-semibold", sans-serif

$accent: orange

$text: #333

$blue: #0081FF

$red: #F43F3B

$browser-context: 16

$linkHover: $blue


$fm-link-bg-hover: #cacbcd
$fm-link-text-hover: rgba(0,0,0,1)

$fm-link-text-color: rgba(0,0,0,.6)


@function em($pixels, $context: $browser-context)
  @return #{$pixels/$context}em



